{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SHUBZ VISUALS</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dist/css/style.css' %}">
	<script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
	<link rel="stylesheet" href=
	"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"> -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="is-boxed has-animations" style="height: 100%;background: #201f20;font-family: 'Secular One', sans-serif;">
<style>
		p{
			color: #8A94A7;
		}
	</style>
    <div class="body-wrap">
<!--        <header class="site-header">-->
<!--            <div class="container">-->
<!--                <div class="site-header-inner">-->
<!--                    <div class="brand header-brand">-->
<!--                        <h1 class="m-0">-->
<!--							<a href="#">-->
<!--								<img class="header-logo-image" src="{% static 'logo.png' %}" style="-->
<!--								max-width: 250px;-->
<!--							" alt="Logo">-->
<!--                            </a>-->
<!--                        </h1>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </header>-->

        <main>
<!--            <section class="hero">-->
<!--                <div class="container">-->
<!--                    <div class="hero-inner">-->
<!--						<div class="hero-copy">-->
<!--	                        <h1 class="hero-title mt-0">AFRICA URBAN CREATIVE DIGITAL MEDIA</h1>-->
<!--	                        <p class="hero-paragraph">We Produce & Sell Anything Audio, Image and Video used to promote sales, educate and entertain your audience worldwide.</p>-->
<!--	                        <div class="hero-cta"><a class="button button-primary" style="-->
<!--								background: #097dea;-->
<!--							" href="#">Let’s Partner</a></div>-->
<!--						</div>-->
<!--						<div class="hero-figure anime-element">-->
<!--							<svg class="placeholder" width="528" height="396" viewBox="0 0 528 396">-->
<!--								<rect width="528" height="396" style="fill:transparent;" />-->
<!--							</svg>-->
<!--							<div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>-->
<!--							<div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>-->
<!--							<div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>-->
<!--							<div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>-->
<!--							<div class="hero-figure-box hero-figure-box-05"></div>-->
<!--							<div class="hero-figure-box hero-figure-box-06"></div>-->
<!--							<div class="hero-figure-box hero-figure-box-07"></div>-->
<!--							<div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>-->
<!--							<div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>-->
<!--							<div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>-->
<!--						</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </section>-->
  <div class="container">
					<a href="#">
						<img class="header-logo-image mt-2" src="{%static 'image33.png' %}" style="
						max-width: 80px;
					" alt="Logo">
					</a>
                    <div class="hero-inner">

						<div class="hero-copy">

	                        <h1 class="hero-title mt-0" style="font-size: xxx-large;">AFRICA URBAN CREATIVE DIGITAL MEDIA</h1>
	                        <p class="hero-paragraph mb-4">We Produce & Sell Anything Audio, Image and Video used to promote sales, educate and entertain your audience worldwide.</p>
	                        <div class="hero-cta"><a class="button button-primary" style="
								background: #097dea;
							" href="#">Let’s Partner</a></div>
						</div>
						<div class="hero-figure anime-element">
							<!-- <div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
							<div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
							<div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
							<div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
							<div class="hero-figure-box hero-figure-box-05"></div>
							<div class="hero-figure-box hero-figure-box-06"></div>
							<div class="hero-figure-box hero-figure-box-07"></div>
							<div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
							<div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
							<div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div> -->
							<!-- <video style="width: 100%;" autoplay  loop><source src="movie.mp4" type="video/mp4"></video> -->
							<img src="{% static 'hero.gif' %}" >
						</div>
                    </div>
                </div>
            <section class="features section">
                <div class="container">
					<h2 class="section-title mt-5 pricing-header text-center" style="margin-top: 8%;"></i> HOW TO DO BUSINESS WITH US</h2>
					<p class="section-paragraph mb-0 text-center">EVERYTHING YOU NEED TO GET CREATIVE DIGITAL MEDIA PROJECTS DONE.</p>
						<p class="section-paragraph mb-0 text-center"style="background: #4B0082;
						background: linear-gradient(to right, #4B0082 0%, #DDA0DD 100%);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;

						"><BR>CLICK ON ANY OF OUR STATE OF THE ART PROFESSIONAL STUDIOS</p>
					<div class="features-inner section-inner has-bottom-divider">
                        <div class="features-wrap">

							<a href="/studio#/audio-page">
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="{% static 'image55.png'%}" style="
										max-width: 120px;
									" alt="Feature 01">
                                    </div>
								</a>

                                </div>
                            </div>

                            <a href="/studio#/photography-page">
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="{% static 'image11.png'%}" style="
										max-width: 120px;
									" alt="Feature 02">
                                    </div>
                                </div>
                            </div>
                            </a>
                                    <a href="#">

							<div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="{% static 'image44.png'%}" style="
										max-width: 120px;
									" alt="Feature 02">
                                    </div>
                                </div>
                            </div>
                                    </a>
                    <a href="#">
							<div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="{% static 'image6.png' %}" style="
										max-width: 120px;
									" alt="Feature 02">
                                    </div>
                    </a>
<!--
                                    <h4 class="feature-title mt-24">Africa Creative
										<span class="glow"> Media | Talent</span>
										<br> Agency</h4> -->
                                </div>
                            </div>
                                      </section>

									  <div class="pricing-header text-center container features section">
											<h2 class="section-title mt-5 pricing-header text-center"><i class="bi bi-star-fill"></i> WHY US</h2>
											<p class="section-paragraph mb-0 text-center">WE DON’T JUST DESIGN & PRODUCE QUALITY CREATIVE DIGITAL MEDIA PROJECTS OR COLLECTIONS IN SOUNDS, IMAGES AND VIDEOS BUT ALSO DISTRIBUTE TO ALL DIGITAL MEDIA DISTRIBUTION STORES WORLDWIDE.
												<br>Sell your Digital Media Assets to all major stock and streaming stores globally like envato, Spotify, Amazon, YouTube, Apple etc.</p>


            <section class="pricing section">
                <div class="container-sm">

                    <div class="pricing-inner section-inner">
                        <div class="pricing-header text-center">
							<p class=" mb-0" style="
							color: #25559c;">
							<span style="color: white;">whether you’re interested in </span> <br>
							 LOGO DESIGNS - PRODUCT DESIGNS COMMERCIALS - TV TALKSHOWS, WEDDINGS - CORPORATE EVENTS, DOCUMENTARIES - MOVIES, MUSIC PRODUCTION - PODCASTS, MUSIC VIDEOS - Etc.</div>


                            <h2 class="section-title mt-0"></h2>


						<div class="container text-center my-3">
							<h2 class="font-weight-light">WHO WE WORK FOR
							</h2>
							<div class="row mx-auto my-auto justify-content-center">
								<div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
									<div class="carousel-inner" role="listbox">
										<div class="carousel-item active">
											<div class="col-md-3">

												<div class="card">
													<div class="card-img">
														<img src="{% static 'comp2.png' %}"style="
												" />                                 </div>
												</div>
											</div>

										</div>

										<div class="carousel-item">
											<div class="col-md-3">
												<div class="card">
													<div class="card-img">
														<img src="{% static 'comp2.png' %}"style="
												" />                     </div>
												</div>
											</div>
										</div>
										<div class="carousel-item">
											<div class="col-md-3">
												<div class="card">
													<div class="card-img">
														<img src="{% static 'comp2.png' %}"style="
													" />                        </div>
												</div>
											</div>
										</div>
										<div class="carousel-item" style="">
											<div class="col-md-3">
												<div class="card">
													<div class="card-img">
														<img src="{% static 'comp2.png' %}"style="
													" />                           </div>
												</div>
											</div>
										</div>
										<div class="carousel-item">
											<div class="col-md-3">
												<div class="card">
													<div class="card-img">
														<img src="{% static 'comp2.png' %}" style="

														" alt="Feature 02">                               </div>
												</div>
											</div>
										</div>
										<div class="carousel-item">
											<div class="col-md-3">
												<div class="card">
													<div class="card-img">
														<img src="{% static 'comp2.png' %}" style="
														" alt="Feature 02">                               </div>
												</div>
											</div>
										</div>
									</div>
									<a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
										<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									</a>
									<a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
										<span class="carousel-control-next-icon" aria-hidden="true"></span>
									</a>
								</div>
							</div>
						  </div>


                    </div>
                </div>
            </section>

			<section class="cta section">
				<div class="container">
					<div class="cta-inner section-inner" style="flex-flow: column;padding: 20px;">
						<h3 class="section-title mb-1 mt-0" style="
						margin-bottom: 20px;
					">Download <span style="
					color: #8A4FFF;
					font-size: xxx-large;
					/* margin-bottom: 15px; */
				">Creative </span>Digital Media Assets ?</h3>
					<div class="cta-cta">
						<a class="button button-primary button-wide-mobile" href="#"style="margin-bottom: 10px;width: 250px;margin-right: 20px;">
							<i class="bi bi-music-note"></i>&nbsp;&nbsp; royalty-free music </a>

							<a class="button button-primary button-wide-mobile" href="#" style="margin-bottom: 10px; width: 250px;">
								<i class="bi bi-stack"></i> &nbsp;&nbsp;	graphic templates </a>
					</div>

						<div class="cta-cta">
							<a class="button button-primary button-wide-mobile" href="#" style="margin-bottom: 10px;width: 250px;margin-right: 20px;">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-seam-fill" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.01-.003.268-.108a.75.75 0 0 1 .558 0l.269.108.01.003 6.97 2.789ZM10.404 2 4.25 4.461 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339L8 5.961 5.596 5l6.154-2.461L10.404 2Z"/>
								  </svg> &nbsp;&nbsp;	web templates </a>
								<a class="button button-primary button-wide-mobile" href="#" style="margin-bottom: 10px; width: 250px;">
									<i class="bi bi-images"></i> &nbsp;&nbsp; stock photos </a>
						</div>
						<div class="cta-cta">

						</div>
						<div class="cta-cta">
							<a class="button button-primary button-wide-mobile" href="#" style="margin-bottom: 10px;width: 250px;margin-right: 20px;">
								<i class="bi bi-camera-reels-fill"></i> &nbsp;&nbsp; stock videos </a>
								<a class="button button-primary button-wide-mobile" href="#" style="margin-bottom: 10px; width: 250px;">
									<i class="bi bi-three-dots"></i> &nbsp;&nbsp;	browse all </a>
						</div>

					</div>
				</div>
			</section>


			<section id="team">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
							<div class="sec-heading text-center">
			    <h2 class="font-weight-light" style="
				MARGIN-TOP: 50PX;
			">MEET OUR TEAM	</h2>
<p><span style="
	color: #8A4FFF;
	font-size: x-large;
	font-weight: unset;
">Filmmaking </span>our passion.<span style="
	color: #8A4FFF;
	font-size: x-large;
	font-weight: unset;
"> Artistry</span> is our goal</p>
							</div>
						</div>
					</div>
				</div>
				<div class="testimonial-box">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="team-slider owl-carousel">
									<div class="single-box text-center">
										<div class="img-area"><img alt="" class="img-fluid move-animation" src="https://i.postimg.cc/65VQDfjs/1.png"></div>
										<div class="info-area">
											<h4>Person's Name</h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, ullam.</p>
											<ul class="footer-social-links list-reset"style="
											color: cornflowerblue;
											align-items: center;
											justify-content: center;
											text-align: center;
										">
												<li>
													<a href="#">
														<span class="screen-reader-text">Facebook</span>
														<i class="bi bi-facebook"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="screen-reader-text">Twitter</span>
														<i class="bi bi-twitter"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="screen-reader-text">Linkedin</span>
														<i class="bi bi-linkedin"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="screen-reader-text">Instagram</span>
														<i class="bi bi-instagram"></i>                            </a>
												</li>
											</ul>
										</div>
									</div>
									<div class="single-box text-center">
										<div class="img-area"><img alt="" class="img-fluid move-animation" src="https://i.postimg.cc/vmCM14qL/2.png"></div>
										<div class="info-area">
											<h4>Person's Name</h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, ullam.</p>
											<ul class="footer-social-links list-reset"style="
											align-items: center;
											justify-content: center;
											text-align: center;
											color: cornflowerblue;

										">
												<li>
													<a href="#">
														<span class="screen-reader-text">Facebook</span>
														<i class="bi bi-facebook"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="screen-reader-text">Twitter</span>
														<i class="bi bi-twitter"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="screen-reader-text">Linkedin</span>
														<i class="bi bi-linkedin"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="screen-reader-text">Instagram</span>
														<i class="bi bi-instagram"></i>                            </a>
												</li>
											</ul>
										</div>
									</div>
									<div class="single-box text-center">
										<div class="img-area"><img alt="" class="img-fluid move-animation" src="https://i.postimg.cc/TYTxWM9S/3.png"></div>
										<div class="info-area">
											<h4>Person's Name</h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, ullam.</p>
											<ul class="footer-social-links list-reset"style="
											align-items: center;
											justify-content: center;
											text-align: center;
											color: cornflowerblue;

										">
												<li>
													<a href="#">
														<span class="screen-reader-text">Facebook</span>
														<i class="bi bi-facebook"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="screen-reader-text">Twitter</span>
														<i class="bi bi-twitter"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="screen-reader-text">Linkedin</span>
														<i class="bi bi-linkedin"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="screen-reader-text">Instagram</span>
														<i class="bi bi-instagram"></i>                            </a>
												</li>
											</ul>
										</div>
									</div>
									<div class="single-box text-center">
										<div class="img-area"><img alt="" class="img-fluid move-animation" src="https://i.postimg.cc/593GTHB7/4.png"></div>
										<div class="info-area">
											<h4>Person's Name</h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, ullam.</p>
											<ul class="footer-social-links list-reset"style="
											align-items: center;
											justify-content: center;
											text-align: center;
											color: cornflowerblue;

										">
												<li>
													<a href="#">
														<span class="screen-reader-text">Facebook</span>
														<i class="bi bi-facebook"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="screen-reader-text">Twitter</span>
														<i class="bi bi-twitter"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="screen-reader-text">Linkedin</span>
														<i class="bi bi-linkedin"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="screen-reader-text">Instagram</span>
														<i class="bi bi-instagram"></i>                            </a>
												</li>
											</ul>
										</div>
									</div>
									<div class="single-box text-center">
										<div class="img-area"><img alt="" class="img-fluid move-animation" src="https://i.postimg.cc/tJCrp53r/5.png"></div>
										<div class="info-area">
											<h4>Person's Name</h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, ullam.</p>
											<ul class="footer-social-links list-reset"style="
											align-items: center;
											justify-content: center;
											text-align: center;
											color: cornflowerblue;

										">
												<li>
													<a href="#">
														<span class="screen-reader-text">Facebook</span>
														<i class="bi bi-facebook"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="screen-reader-text">Twitter</span>
														<i class="bi bi-twitter"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="screen-reader-text">Linkedin</span>
														<i class="bi bi-linkedin"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="screen-reader-text">Instagram</span>
														<i class="bi bi-instagram"></i>                            </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
			</script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
			</script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js">
			</script>
			<script>
				   $('.team-slider').owlCarousel({
					   loop: true,
					   nav: false,
					   autoplay: true,
					   autoplayTimeout: 5000,
					   smartSpeed: 450,
					   margin: 20,
					   responsive: {
						   0: {
							   items: 1
						   },
						   768: {
							   items: 2
						   },
						   991: {
							   items: 3
						   },
						   1200: {
							   items: 3
						   },
						   1920: {
							   items: 3
						   }
					   }
				   });
			</script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


  <script src="{% static 'assets/js/scripts.js' %}" type="text/javascript"></script>


									  <section class="cta section">
										<div class="container">
											<div class="cta-inner section-inner" style="justify-content: space-around;" >
												<h3 class="section-title mt-0" style="
												font-size: larger;
											">Be the <span style="
													color: gold;
													font-size: xxx-large;
													font-weight: unset;
												"> first</span> to hear updates and news!</h3>
												<div class="cta-cta">
													<a class="button button-primary2 button-wide-mobile" href="#">Sign up</a>
												</div>
											</div>
										</div>
									</section>



        </main>

  <footer class="site-footer">
            <div class="container">

                <div class="site-footer-inner" style="
				padding-top: 0px;
				padding-bottom: 0px;
			">
                    <div class="brand footer-brand">
						<a href="#">
							<img class="header-logo-image" src="{% static 'Slogo.png' %}" style="
							max-width: 250px;
						" alt="Logo">
						</a>
                    </div>
                    <ul class="footer-links list-reset">
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="#">About us</a>
                        </li>
                        <li>
                            <a href="#">FAQ's</a>
                        </li>
                        <li>
                            <a href="#">Support</a>
                        </li>
						<li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                    <ul class="footer-links list-reset" style="
					align-items: center;
					justify-content: left;
				">
<div class="col-lg-3 col-md-6 mb-5"style="
width: 31%;
">
	<h4 class="text-uppercase text-white mb-2 mt-4">Connect With Us</h4>
	<p><i class="bi bi-geo-alt-fill"></i> &nbsp; 275, Herbert Macaulay way, Yaba Lagos.<br>
		<i class="bi bi-geo-alt-fill"></i>27/29J Line, Ewet Housing Estate, Uyo, Akwa Ibom.
	  </p>
	<p><i class="bi bi-telephone-fill"></i> &nbsp;  +2349095177470</p>
	<p><i class="bi bi-envelope"></i> &nbsp; info@shubz.or
</div></p>
                    </ul>

                    <ul class="footer-social-links list-reset">
                        <li>
                            <a href="#">
                                <span class="screen-reader-text">Facebook</span>
								<i class="bi bi-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="screen-reader-text">Twitter</span>
								<i class="bi bi-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="screen-reader-text">Linkedin</span>
								<i class="bi bi-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="screen-reader-text">Instagram</span>
								<i class="bi bi-instagram"></i>                            </a>
                        </li>
                    </ul>


                    <div class="footer-copyright"><p>Looking for video production services? SHUBZ offer best video production services, event filming services, film production, wedding videography & photography.</p></div>
                </div>
            </div>
        </footer>
    </div>
	<h6 style="
    text-align: center;
    font-size: smaller;
">© 2022 SHUBZ Entertainment. All Rights Reserved	</h6>
    </div>

    <script src="{% static 'dist/js/main.min.js'%} "></script>
</body>
</html>
